@import url(./basic-styles.css);

/** First block */
.container-one {
    display: grid;
    grid-template-columns: 100px 200px 400px;
    grid-template-rows: 200px 100px 50px;
    /* column-gap: 10px; */
    /* row-gap: 20px; */
    gap: 10px 30px;
    margin-bottom: 50px;
}

/** Second block */
.container-two {
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 200px;
    grid-template-rows: 100px 150px;
    /* grid-auto-rows: 80px; */
    grid-auto-rows: 80px 160px;
}

/** Third block */
.container-three {
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 200px;
    grid-auto-flow: column;
}

/** Fourth block */
.container-four {
    display: grid;
    border: 10px solid black;
    /* grid-template-columns: 100px 100px 200px 150px; */
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 100px 1fr 2fr 1fr;
    gap: 25px;
}

/** Fifth block */
.container-five {
    display: grid;
    gap: 25px;
    /* grid-template-columns: 100px 100px 100px 100px 100px; */
    /* grid-template-columns: repeat(5, 100px); */
    /* grid-template-columns: repeat(2, 100px 200px); */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 200px repeat(3, 1fr) 600px;
}